@import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@100;200;300;400;500;600;700;800;900&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Libre+Franklin:wght@300;400;500;600;700&family=Quicksand:wght@300;400;500;600;700&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&family=Sora:wght@100;200;300;400;500;600;700;800&display=swap');

* {
  box-sizing: border-box;

  touch-action: manipulation;

}

$white-900: #F7F4F4;
$white-700: #e4e1e1;
$grey-100: #222222;
$grey-500: #c9c9c9;
$green-900: #42727e;
$red-900: rgb(245, 223, 223);

@mixin transition {

  transition: all 0.1s cubic-bezier(0.22, 1, 0.36, 1);

}

@mixin transition-slow {

  transition: all 2s cubic-bezier(0.22, 1, 0.36, 1);

}

html, body {
  margin: 0;
  height: 100vh;
  background: $white-700;
  color: $grey-100;
  font-family: Quicksand;
}

.header-main {

  position: fixed;
  top: 0;
  left: 0;

  z-index: 100;
  
  width: 100%;

  display: flex;
  flex-direction: row;
  align-items: center;

  padding: 2rem;

  background: $white-900;

  .logo-main {

    font-size: 1.2rem;
    flex-grow: 1;

  }

  .ham-main {

    .ham {

      padding: 1rem;
      margin: -1rem;

      span {

        display: block;
        
        width: 20px;
        height: 1px;

        margin: 6px;

        background: $grey-100;

      }

    }

  }

}

.app {

  padding: 2rem;

  .activity-wrapper {

    display: flex;
    flex-direction: row;

    margin-bottom: 1rem;

    width: 100%;

    &#activity-default {

      display: none;

    }

    .activity-type {

      margin: 0;
      padding: 1rem;

      flex-grow: 1;

      background: $white-900;

      border: 1px solid $grey-500;
      border-right: 0;
      border-radius: 3px 0 0 10px;

    }

    .activity-time {

      margin: 0;

      text-align: center;

      background: $white-900;

      border: 1px solid $grey-500;
      border-left: 0;
      border-right: 0;
      border-radius: 0;

      color: $grey-100;

    }

    .activity-delete {

      margin: 0;

      width: 50px;

      text-align: center;

      background: #222222;

      border: 1px solid $grey-500;
      border-left: 0;
      border-radius: 0 10px 3px 0;

      color: $white-900;

      padding: 0 10px;

    }

  }

  .activity-add {

    margin-top: 1rem;

    .add {

      margin: 0;

      width: 100%;

      padding: 2rem;

      background: $green-900;

      border: 1px solid $grey-500;
      border-radius: 10px;

      color: $white-900;

    }

  }

}

.submit {

  position: fixed;
  bottom: 0;

  width: 100%;

  z-index: 40;

  text-align: center;

  padding: 2rem;
  background: lightsalmon;

}

.menu {

  position: fixed;
  z-index: 50;
  top: 0;

  display: flex;
  width: 100%;
  height: 100%;
  
  opacity: 0%;
  pointer-events: none;

  align-items: center;
  justify-content: center;

  background-color: $white-900;

  @include transition;

  &.active {

    opacity: 100%;
    pointer-events: all;

    div {

      opacity: 100%;

    }

  }

  div {

    padding: 2rem;
    text-align: center;

    @include transition-slow;

    opacity: 0%;

    button {

      -webkit-appearance: none;
      display: block;
      width: 100%;
      padding: 1rem;
      background: $green-900;
      color: $white-900;
      margin-top: 1rem;

    }

  }

}

.results {

  position: fixed;
  top: 0; /* should be height of header */
  left: 0;
  right: 0;
  bottom: 0;
  background: $white-900;

  opacity: 0%;

  z-index: 30;

  transition: all 0s linear, opacity 1s ease;

  transform: translateY(100%);

  &.active {

    transform: translateY(0);
    opacity: 100%;

  }

  .result {

    &:nth-child(1) {
      padding-top: 1rem;
    }

    padding: 2rem;

  }

}