@import url("https://fonts.googleapis.com/css2?family=Encode+Sans:wght@100;200;300;400;500;600;700;800;900&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Libre+Franklin:wght@300;400;500;600;700&family=Quicksand:wght@300;400;500;600;700&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&family=Sora:wght@100;200;300;400;500;600;700;800&display=swap");
* {
  box-sizing: border-box;
  touch-action: manipulation;
}

html, body {
  margin: 0;
  height: 100vh;
  background: #e4e1e1;
  color: #222222;
  font-family: Quicksand;
}

.header-main {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 2rem;
  background: #F7F4F4;
}
.header-main .logo-main {
  font-size: 1.2rem;
  flex-grow: 1;
}
.header-main .ham-main .ham {
  padding: 1rem;
  margin: -1rem;
}
.header-main .ham-main .ham span {
  display: block;
  width: 20px;
  height: 1px;
  margin: 6px;
  background: #222222;
}

.app {
  padding: 2rem;
}
.app .activity-wrapper {
  display: flex;
  flex-direction: row;
  margin-bottom: 1rem;
  width: 100%;
}
.app .activity-wrapper#activity-default {
  display: none;
}
.app .activity-wrapper .activity-type {
  margin: 0;
  padding: 1rem;
  flex-grow: 1;
  background: #F7F4F4;
  border: 1px solid #c9c9c9;
  border-right: 0;
  border-radius: 3px 0 0 10px;
}
.app .activity-wrapper .activity-time {
  margin: 0;
  text-align: center;
  background: #F7F4F4;
  border: 1px solid #c9c9c9;
  border-left: 0;
  border-right: 0;
  border-radius: 0;
  color: #222222;
}
.app .activity-wrapper .activity-delete {
  margin: 0;
  width: 50px;
  text-align: center;
  background: #222222;
  border: 1px solid #c9c9c9;
  border-left: 0;
  border-radius: 0 10px 3px 0;
  color: #F7F4F4;
  padding: 0 10px;
}
.app .activity-add {
  margin-top: 1rem;
}
.app .activity-add .add {
  margin: 0;
  width: 100%;
  padding: 2rem;
  background: #42727e;
  border: 1px solid #c9c9c9;
  border-radius: 10px;
  color: #F7F4F4;
}

.submit {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 40;
  text-align: center;
  padding: 2rem;
  background: lightsalmon;
}

.menu {
  position: fixed;
  z-index: 50;
  top: 0;
  display: flex;
  width: 100%;
  height: 100%;
  opacity: 0%;
  pointer-events: none;
  align-items: center;
  justify-content: center;
  background-color: #F7F4F4;
  transition: all 0.1s cubic-bezier(0.22, 1, 0.36, 1);
}
.menu.active {
  opacity: 100%;
  pointer-events: all;
}
.menu.active div {
  opacity: 100%;
}
.menu div {
  padding: 2rem;
  text-align: center;
  transition: all 2s cubic-bezier(0.22, 1, 0.36, 1);
  opacity: 0%;
}
.menu div button {
  -webkit-appearance: none;
  display: block;
  width: 100%;
  padding: 1rem;
  background: #42727e;
  color: #F7F4F4;
  margin-top: 1rem;
}

.results {
  position: fixed;
  top: 0;
  /* should be height of header */
  left: 0;
  right: 0;
  bottom: 0;
  background: #F7F4F4;
  opacity: 0%;
  z-index: 30;
  transition: all 0s linear, opacity 1s ease;
  transform: translateY(100%);
}
.results.active {
  transform: translateY(0);
  opacity: 100%;
}
.results .result {
  padding: 2rem;
}
.results .result:nth-child(1) {
  padding-top: 1rem;
}

/*# sourceMappingURL=style.css.map */
